# some ls aliases
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

alias ghosty='ghostty'
alias keys="open ~/.dotfiles/vscode-keyboard-shortcuts-macos.pdf"
alias mem='ps -caxo rss,comm | grep node | awk '\''{sum += $1} END {print sum/1024 " MB"}'\'''
